@import "variables";
@import "../cxode/cxode";
@import "components/sidemenu.scss";

@mixin referral {
	
	@include cxode;
	@include sidemenu;
	
	.question-menu{
		background: $v-selection-color;
		padding: 5px;
      	color: valo-font-color($v-selection-color, 0.8);
      	border-bottom: 1px solid valo-font-color($v-selection-color, 0.8);
      	
      	&:hover {
      		background: darken($v-selection-color,25%);
  		}
  		
  		.v-label{
  			font-size: 12px;
  		}
	}
	
	.question-menu-selected{
		background: lighten($v-selection-color,15%);;
	}
	
	.loginview {
  		background-image: unquote("linear-gradient(145deg, #DD69AC 30%, #DD69AC 100%)");
  	}
  	
  	.backgroundimage {
		background: url("img/patterns/background_pink.png") !important;
	}
	
}
