// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 12px;
$v-font-weight: 300;
$v-font-family: "Open Sans", sans-serif;
$v-font-size--tiny: 12px;
//$v-unit-size: round(1.8 * $v-font-size) !default;

// Defines the border used by all components.
$v-border: 1px solid (v-shade 0.7);
$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
$v-gradient: v-linear 8%;
$v-bevel-depth: 30%;
$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
$v-friendly-color: #2c9720;
$v-error-indicator-color: #ed473b;

//MARGIN
$v-layout-margin-top: 10px !default;
$v-layout-margin-bottom: 10px !default;
$v-layout-margin-left: 10px !default;
$v-layout-margin-right: 10px !default;

// Main layout padding
//$view-padding: round($v-unit-size / 1.5) !default;

// Slight adjustment to menu background-color
$valo-menu-background-color: #414B56;
$v-disabled-opacity: 0.8 !default;

$v-layout-spacing-vertical: 6px;

@import "../valo/valo";
